/*
* COLORES
*/

$color1: #68A8B0;
$color2: #DE5047;
$color3: #444850;
$color4: #777D79;
$color5: #62A887;

$color6: #0DC5C1;
$color7: #F2C057;
$color8: #f3f3f3;


// Variables de colores
$primary: $color1;
$secondary: $color4;
$success: $color5;
$info: $color6;
$warning: $color7;
$danger: $color2;
$dark: $color3;
$light: $color8;
